{% extends "base.html" %}

{% block title %}
{{ article.title }} - {{ SITENAME }}
{% endblock %}

{% block header_heading_css_class %}
post-heading
{% endblock %}

{% block header_title %}
{{ article.title }}
{% endblock %}

{% block header_subtitle %}
{{ article.subtitle }}
{% endblock %}

{% block header_text %}
Posted by {{ article.author }} on {{ article.locale_date }}
{% endblock %}

{% block base_content %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {{ article.content }}

            </div>
        </div>
    </div>
</article>

<hr>

{% endblock base_content %}