{% extends "base.html" %}

{% block base_content %}

{% set header_heading_class = "post-heading" %}
{% set header_title = article.title %}
{% set header_subtitle = article.subtitle %}
{% set header_text %}
    Posted by {{ article.author }} on {{ article.locale_date }}
{% endset %}
{% include "header.html" %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {{ article.content }}

            </div>
        </div>
    </div>
</article>

<hr>

{% endblock %}