{% extends "page.html" %}

{% block page_content %}

{% for article in articles_page.object_list %}
<div class="post-preview">
    <a href="{{ SITEURL }}/{{ article.url }}">
        <h2 class="post-title">{{ article.title }}</h2>
        {% if article.subtitle %}
            <h3 class="post-subtitle">
                {{ article.subtitle }}
            </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        Posted by {{ article.author }} on {{ article.locale_date }}
    </p>
</div>
<hr>
{% endfor %}

{% include "paginator.html" %}

{% endblock page_content %}
