{% extends "base.html" %}

{% block title %}
{{ page.title }} - {{ SITENAME }}
{% endblock %}

{% block header_heading_css_class %}
page-heading
{% endblock %}

{% block header_title %}
{{ page.title }}
{% endblock %}

{% block header_subtitle %}
{{ page.subtitle }}
{% endblock %}

{% block base_content %}

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            {% block page_content %}
            {% endblock %}

        </div>
	</div>
</div>

<hr>

{% endblock base_content %}
